/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto:wght@300&family=Sofia+Sans+Condensed&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
}