/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto:wght@300&family=Sofia+Sans+Condensed&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
}

/* css del index */
.content, .contentFooter{
    height: 45px;
    background: rgb(2,0,36);
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(102,177,250,1) 0%, rgba(24,31,214,1) 76%);
}

.header{
    display: flex;
    height: 45px;
    justify-content: space-around;
}

h1{
    cursor: pointer;
}

h1:hover{
    background-color: #3333334f;
    border-radius: 6px;
}

h2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

.divider{
    margin-top: 1em;
    width: 79%;
    margin: 0 12%;
    height: 1px;
    background-color: rgba(24,31,214,1);
}

.navegacion ul{
	list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
    padding: 10.5px;
    width: 130%;
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
    cursor: pointer;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

h1{
    color: white;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

.carrito{
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    border-radius: 10px;
    line-height: 2;
    background-color: #333333a6;
    cursor: pointer;
    padding: 0px 20px;
    margin: 7.5px 0;
}


/* css buscador */
.buscar{
    margin: 4em 12% 2em;
    font-weight: 600;
}

.buscar label{
    margin-right: 1em;
    margin-left: 2.1em;
    font-size: 17px;
}

.buscar input{
    width: 88.5%;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
}

/* css carrusel */

.carrusel {
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 30px;
    width: 74%;
    margin: 5em 12%;
    box-shadow: 0px 0px 12px 1px gray;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    padding: 29px;
    overflow-y: hidden;
  }
  
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    cursor: pointer;
  }
  
  .carrusel-item img {
    width: 75%;
    height: 100%;
  }
  
  .carrusel-item:hover {
    transform: scale(1.2);
  }

/* css card */

.containerCard{
    width: 75%;
    margin: 2em 14%;
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, minmax(min(100%,12em), 1fr));
}

.card{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.card:hover{
    box-shadow: 0px 0px 17px 1px rgba(128, 128, 128, 0.637);
    border-radius: 10px;
}

.card:hover img{
    transform: scale(1.2);
}

.card img{
    margin: 3em 4em 1.5em;
    cursor: pointer;
}


.card p{
    padding: 0 20px;
}

.card button{
    background-color: rgba(24,31,214,1);
    color: white;
    border: 0;
    outline: none;
    padding: 9px 29px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 2em;
    cursor: pointer;
}

.card button:hover{
    background-color: rgba(24, 30, 214, 0.705);
}

/* css footer */

.contentFooter{
    text-align: center;
    color: white;
    margin-top: 5em;
}

.contentFooter p{
    margin-top: 2em;
    line-height: 3.2;
    margin: 0;
    font-weight: 600;
}

/* carrito */
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #fff;
}

.icon-cart:hover{
    cursor: pointer;
}

.container-icon{
    position: relative;
    cursor: pointer;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    border-bottom: 1px solid rgba(250, 247, 247, 0.925);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 16px;
    margin: 7px 0;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    display: flex;
    align-items: center;
}

.cantidad-producto-carrito{
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
}

.icon-close{
    width: 20px;
    height: 20px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 15px;
    font-weight: 700;
}

.total-pagar{
    font-size: 15px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.carritoVacio{
    padding: 5px; 
    text-align: center; 
    font-weight: 600;
}

.menuIcon{
    display: none !important;
}

/* Reponsive */

@media screen and (max-width: 1024px){
    .buscar input {
        width: 85.5%;
    }

    .containerCard{
        grid-template-columns: repeat(2, minmax(min(100%,12em), 1fr));
    }
}

@media screen and (max-width: 768px){
    .buscar input {
        width: 80.5%;
    }

    .card img {
        margin: 3em 2em 1.5em;
        cursor: pointer;
    }
}

@media screen and (max-width: 425px){
    .navegacion{
        width: 34%;
    }

    .container-cart-icon{
        margin-left: 7em;
    }

    .menuIcon{
        display: inline-block !important;
        width: 37% !important;
        margin: 0 !important;
    }

    .menuLetras{
        display: none !important;
    }

    .buscar input {
        width: 64.5%;
    }

    .containerCard{
        grid-template-columns: repeat(auto-fill, minmax(min(100%,12em), 1fr));
    }

    .submenu {
        top: 45px;
    }

    .carrusel{
        width: 63%;
    }

    .buscar label {
        margin-left: 1.1em;
    }

    .menu > li > a {
        padding: 10.5px 0px;
    }

    .container-cart-products {
        width: 350px;
    }

    h2{
        font-size: 30px;
    }

}

@media screen and (max-width: 375px){

    .container-cart-products {
        width: 316px;
    }

    .menuIcon {
        width: 40% !important;
    }
    
}

@media screen and (max-width: 320px){

    .container-cart-products {
        width: 280px;
    }

    .menuIcon {
        width: 48% !important;
    }
    
    
    .container-cart-icon {
        margin-left: 3em;
    }

    .navegacion {
        width: 27%;
    }

    .buscar label {
        margin-left: 0.1em;
    }
    
    .buscar input {
        width: 100%;
        margin-top: 1em;
    }

    h2{
        font-size: 27px;
    }

    .card img {
        margin: 3em 1em 1.5em;
        width: 150px !important;
        height: 150px !important;
    }

}